@using DBPortal.Models;
@model List<InventoryModel>
@{
    ViewBag.Title = "Inventory";
}

<h3>Search Inventory</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-8">
            <div class="col-md-6">
                <div class="form-group">

                    <input type='text' class="form-control" id='searchWord' name="searchWord" />
                    @*<span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar">
                            </span>
                        </span>*@

                </div>
            </div>
            @*<div class="col-md-4">
                    <div class="form-group">
                        <div class='input-group' id='enddate' name="enddate">
                            <input type='text' class="form-control" />
                            @*<span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-2">
                <button type="button" class="btn btn-primary" onclick="SearchData();">Search</button>
            </div>
        </div>
    </div>
</div>
<h3>Inventory Data</h3>
<hr />


<div class="table-toolbar">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <div class="btn-group pull-right">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                    Tools <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href="javascript:;">
                            Print
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Save as PDF
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Export to Excel
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="overflow-x:auto !important;overflow-y:hidden !important;">
        <table class="table table-striped table-hover table-bordered" id="sample_editable_1" >
            <thead>
                <tr>
                    <th>ServerID</th>
                    <th>ServerIP</th>
                    <th>ServerPort</th>
                    <th>Name</th>
                    <th>InstanceName</th>
                    <th>SQLVersion</th>
                    <th>Edition</th>
                    <th>OSVesion</th>
                    <th>ServeType</th>
                    <th>IsActive</th>
                    <th>ServerEnv</th>
                    <th>Description</th>
                    <th>CommonName</th>
                    <th>CMDB_Location</th>
                </tr>
            </thead>
            <tbody id="TableData">
                @Html.Partial("_InvData", Model)
            </tbody>
        </table>
    </div>
</div>
   
<script>

    function SearchData() {
        var searchWord = $("#searchWord").val();
        if (searchWord != "" && searchWord != null) {
            $("#TableData").html('');
            $.ajax({
                url: '/Home/SearchInventory?searchWord=' + searchWord,
                type: "GET",
                async: true,
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    $("#TableData").html(data);
                },
                error: function (xhr, status, error) {

                }
            });
        }
    }
</script>

@*<?xml version="1.0" ?>

<configuration>
    <configSections>
        <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
            <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <system.web.webPages.razor>
        <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <pages pageBaseType="System.Web.Mvc.WebViewPage">
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Optimization" />
                <add namespace="System.Web.Routing" />
                <add namespace="DBPortal" />
            </namespaces>
        </pages>
    </system.web.webPages.razor>

    <appSettings>
        <add key="webpages:Enabled" value="false" />
        <add key="ConnectionString" value="Server=\A2006;database=safenviron_db;uid=safe_dbuser;pwd=Mango2good;Min Pool Size=1;Max Pool Size=5;Pooling=true;" />

    </appSettings>

    <system.webServer>
        <handlers>
            <remove name="BlockViewHandler" />
            <add name="BlockViewHandler" path="*" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler" />
        </handlers>
    </system.webServer>

    <system.web>
        <compilation>
            <assemblies>
                <add assembly="System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
    </system.web>
</configuration>*@

